html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    overflow-x: hidden;
    user-select: none;
}

body.fade-out {
    opacity: .1;
}

h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: white;
}

.maintext {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.profileimg {
    display: block;
    border-radius: 50px 10px;
    border: 5px solid #fff;
    padding: 10px;
    margin:auto;
    width: 250px;
    height: 250px;
}

.mainimg {
    border-radius: 8px;
    border: 5px solid #fff;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto auto auto auto;
}

footer {
    padding: 2%;
    background-color: darkcyan;
}

/**---- Nav Bar ----**/
.navbar {
    overflow: hidden;
    background-color: darkcyan;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    -webkit-animation: moveNav 3s;
    animation: moveNav 3s;
}

@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    padding: 12px 12px;
    text-decoration: none;
    font-family: 'raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 4s;
    animation: moveNavText 4s;
}

@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw}
}

@media screen and (max-width: 576px) {
    .navbar a{
        width: 20%;
        font-size: 12px;
    }
}

.navbar a:hover {
    background-color: #fff;
    color: darkcyan;
    font-weight: bolder;
}

.navbar a:active {
    background-color: lightgrey;
}

/**---- Video ----**/
#ocean {
    position:fixed;
    right: 0;
    bottom: 0;
    margin-top: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and (max-width: 576px) {
    #ocean {
        display: none;
    }
}

/* Text/Img Over Video */
@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

.row1 {
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 330px;
    padding-top: 2vh;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;

}
.profileimg {
    display: block;
    border-radius: 50px 10px;
    border: 5px solid #fff;
    padding: 10px;
    margin:auto;
    width: 250px;
    height: 250px;
}

.video_text {
    color: #fff;
    font-size: 2vw;
    font-weight: 900;
    padding: 0;
    position: relative;
    font-family: 'raleway', sans-serif;
    text-align: justify;
    letter-spacing: .1vw;
}